<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{/layout/indexadmin :: dynamic(~{:: div})}">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
<div class="row">
    <h3>Cập Nhật Màu Sắc</h3>
    <form th:action="@{/admin/color/update}" th:object="${detailColor}" method="post">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>ID Của Màu Sắc: </label>
                        <input type="text" class="form-control" name="idColor" th:field="*{idColor}" readonly/>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label>Tên Màu Sắc: </label>
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                <label>
                                    <input type="radio" name="nameColor" value="Xanh"
                                           th:checked="${detailColor.nameColor == 'Màu Xanh'}">
                                    Màu Xanh
                                </label>
                            </div>

                            <div class="col-sm-2">
                                <label>
                                    <input type="radio" name="nameColor" value="Vàng"
                                           th:checked="${detailColor.nameColor == 'Màu Vàng'}">
                                    Màu Vàng
                                </label>
                            </div>

                            <div class="col-sm-2">
                                <label>
                                    <input type="radio" name="nameColor" value="Cam"
                                           th:checked="${detailColor.nameColor == 'Màu Cam'}">
                                    Màu Cam
                                </label>
                            </div>

                            <div class="col-sm-2">
                                <label>
                                    <input type="radio" name="nameColor" value="Đỏ"
                                           th:checked="${detailColor.nameColor == 'Màu Đỏ'}">
                                    Màu Đỏ
                                </label>
                            </div>

                            <div class="col-sm-2">
                                <label>
                                    <input type="radio" name="nameColor" value="Tím"
                                           th:checked="${detailColor.nameColor == 'Màu Tím'}">
                                    Màu Tím
                                </label>
                            </div>

                            <div class="col-sm-2">
                                <label>
                                    <input type="radio" name="nameColor" value="Đen"
                                           th:checked="${detailColor.nameColor == 'Màu Đen'}">
                                    Màu Đen
                                </label>
                            </div>

                            <div class="col-sm-2">
                                <label>
                                    <input type="radio" name="nameColor" value="Hồng"
                                           th:checked="${detailColor.nameColor == 'Màu Hồng'}">
                                    Màu Hồng
                                </label>
                            </div>

                            <div class="col-sm-2">
                                <label>
                                    <input type="radio" name="nameColor" value="Nâu"
                                           th:checked="${detailColor.nameColor == 'Màu Nâu'}">
                                    Màu Nâu
                                </label>
                            </div>

                            <div class="col-sm-3">
                                <label>
                                    <input type="radio" name="nameColor" value="Tím Than"
                                           th:checked="${detailColor.nameColor == 'Màu Tím Than'}">
                                    Màu Tím Than
                                </label>
                            </div>

                            <div class="col-sm-3">
                                <label>
                                    <input type="radio" name="nameColor" value="Trắng Sữa"
                                           th:checked="${detailColor.nameColor == 'Màu Trắng Sữa'}">
                                    Màu Trắng Sữa
                                </label>
                            </div>

                            <div class="col-sm-3">
                                <label>
                                    <input type="radio" name="nameColor" value="Trắng"
                                           th:checked="${detailColor.nameColor == 'Màu Trắng'}">
                                    Màu Trắng
                                </label>
                            </div>

                            <div class="col-sm-3">
                                <label>
                                    <input type="radio" name="nameColor" value="Xanh Da Trời"
                                           th:checked="${detailColor.nameColor == 'Màu Xanh Da Trời'}">
                                    Màu Xanh Da Trời
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Trạng Thái: </label>
                        <select name="status" class="form-control">
                            <option value="1" th:selected="${detailColor.status == 1}">
                                Đang Hoạt Động
                            </option>
                            <option value="0" th:selected="${detailColor.status == 0}">
                                Ngừng Hoạt Động
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-floppy-fill"></i>
                        Lưu Lại
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>