<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{/layout/indexadmin :: dynamic(~{:: div})}">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
<div class="row">
    <h3>Thêm Kích Cỡ Size</h3>
    <form th:action="@{/admin/size/add}" th:object="${size}" method="post">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-10">
                    <div class="form-group">
                        <label>Kích Cỡ Size: (Độ Tuổi - Chiều Cao(cm) - Cân Nặng(kg))</label>
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>
                                    <input type="radio" name="nameSize" value="XXS" checked="">
                                    Size XXS (1-4 70-98 10-15)
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label>
                                    <input type="radio" name="nameSize" value="XS">
                                    Size XS (4-6 99-113 16-19)
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label>
                                    <input type="radio" name="nameSize" value="S">
                                    Size S (6-8 114-127 19-25)
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label>
                                    <input type="radio" name="nameSize" value="M">
                                    Size M (8-9 127-135 25-33)
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    <input type="radio" name="nameSize" value="L">
                                    Size L (9-11 135-146 33-45)
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    <input type="radio" name="nameSize" value="XL">
                                    Size XL (11-13 147-166.5 45-57)
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    <input type="radio" name="nameSize" value="2XL">
                                    Size 2XL (13-18 167-170 58-63)
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label>
                                    <input type="radio" name="nameSize" value="3XL">
                                    Size 3XL (18+ 170+ 63+)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Trạng Thái: </label>
                        <input type="text" class="form-control" value="Đang Hoạt Động" readonly/>
                        <input type="hidden" name="status" value="1"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-floppy-fill"></i>
                        Lưu Lại
                    </button>
                </div>
                <div class="col-sm-1">
                    <button type="reset" class="btn btn-primary">
                        <i class="bi bi-arrow-clockwise"></i>
                        Làm Mới
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>