<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{:: main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
</head>

<body>
<main th:object="${detailProductItems}" class="poly-item-detail">
    <h1>Chi Tiết Sản Phẩm [[${detailProductItems.product.nameProduct}]]</h1>
    <div class="row" th:if="${detailProductItems.product.status == 1}">

        <!-- Hiện Thị Anh -->
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <img th:src="@{|/images/*{imagesProduct}|}" alt="" src="" style="width: 100%; height: 666px;"/>
            </div>
        </div>

        <!-- Hiển Thị Thông Tin Sản Phẩm -->
        <div class="panel panel-primary">
            <div class="panel-body">
                <h3> Thông Tin Chi Tiết Sản Phẩm: </h3>
                <ul>
                    <li> Tên Của Sản Phẩm: <span th:text="*{product.nameProduct}"></span></li>
                    <li> Số Lượng Của Sản Phẩm Trong Kho: <span th:text="*{availableQuantity}"></span> Chiếc</li>
                    <li> Giá Của Sản Phẩm: <span
                            th:text="${#numbers.formatDecimal(detailProductItems.costPrice, 0, 'COMMA', 0, 'POINT')} + ' VND'"></span>
                    </li>
                    <li> Thuộc Danh Mục Sản Phẩm: <span th:text="${category.nameCategory}"></span></li>
                </ul>
            </div>

            <div class="panel-footer text-right">
                <button th:attr="ng-click=@{|cart.add(${detailProductItems.idProductItems})|}" class="btn btn-success">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                    Thêm Vào Giỏ Hàng
                </button>
            </div>
        </div>
    </div>

    <div class="row" th:if="${detailProductItems.product.status != 1}">
        <h2>Sản phẩm này hiện không hoạt động</h2>
    </div>

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">Hàng Cùng Loại</div>
            <div class="panel-body">
                <ul>
                    <li th:each="productCategory : ${sameCategoryProducts}">
                        <a th:href="@{|/product/detail/${productCategory.idProduct}|}"
                           th:text="${productCategory.nameProduct}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
</body>

</html>
