<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{/layout/indexadmin :: dynamic(~{:: div})}">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
<div class="row">
    <h1>Quản Lý Voucher Khuyến Mại</h1>
    <div class="navbar-nav">
        <h3>Danh Sách Danh Sách Voucher</h3>
    </div>
    <div class="navbar-right">
        <a th:href="@{/admin/voucher/view-add}" class="btn btn-info">
            <i class="bi bi-file-plus-fill"></i>
            Thêm Voucher Mới
        </a>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Mã Khuyến Mại</th>
            <th>Tên Khuyến Mại</th>
            <th>Giá Trị Giảm</th>
            <th>Số Lượng</th>
            <th>Ngày Bắt Đầu</th>
            <th>Ngày Kết Thúc</th>
            <th>Mô Tả</th>
            <th>Hành Động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="listPromotions, stat : ${listPromotions}">
            <td th:text="${stat.count}"></td>
            <td th:text="${listPromotions.codePromotions}"></td>
            <td th:text="${listPromotions.namePromotions}"></td>
            <td th:text="${#numbers.formatDecimal(listPromotions.person, 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
            <td th:text="${listPromotions.quantity}"></td>
            <td th:text="${#dates.format(listPromotions.startDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${#dates.format(listPromotions.endDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${listPromotions.description}"></td>
            <td th:text="${listPromotions.getStatusPromotions()}"></td>
            <td>
                <a th:href="@{/admin/voucher/detail/{id}(id=${listPromotions.idPromotions})}" class="btn btn-primary"><i
                        class="bi bi-eye-fill"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-sm">
            <li th:each="i : ${#numbers.sequence(0, listPromotions.totalPages - 1)}"
                th:class="${i == page ? 'active' : ''}" class="page-item">
                <a th:href="@{/admin/voucher(page=${i})}" class="page-link" th:text="${i + 1}"></a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>