<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{/layout/indexadmin :: dynamic(~{:: div})}">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
<div class="row">
    <h3>Thêm Voucher Mới</h3>
    <form th:action="@{/admin/voucherdetail/add}" th:object="${promotionsProduct}" method="post">
        <div class="col-sm-12">
            <div class="col-sm-3">
                <label>Mã của Khuyến Mại: </label>
                <input type="hidden" name="promotions" th:value="${detailPromotions.idPromotions}"/>
                <input type="text" class="form-control" th:value="${detailPromotions.codePromotions}" readonly/>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Sản Phẩm: </label>
                    <select name="productItems" class="form-control">
                        <option th:each="listProductItems : ${listProductItems}"
                                th:value="${listProductItems.idProductItems}"
                                th:text="${listProductItems.product.nameProduct}"></option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Trạng Thái: </label>
                    <input type="text" class="form-control" value="Đang Hoạt Động" readonly/>
                    <input type="hidden" name="status" value="1"/>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-1">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-floppy-fill"></i>
                    Lưu Lại
                </button>
            </div>
            <div class="col-sm-1">
                <button type="reset" class="btn btn-primary">
                    <i class="bi bi-arrow-clockwise"></i>
                    Làm Mới
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>