<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{/layout/indexadmin :: dynamic(~{:: div})}">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
<div class="row">
    <h3>Cập Nhật Sản Phẩm</h3>
    <form th:action="@{/admin/product/update}" th:object="${detailProduct}" method="post">
        <div class="col-sm-12">
            <div class="from-group">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>ID Của Sản Phẩm: </label>
                        <input type="text" class="form-control" name="idProduct" th:field="*{idProduct}" readonly/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Tên Của Sản Phẩm: </label>
                        <input type="text" class="form-control" name="nameProduct" th:field="*{nameProduct}"
                               placeholder="Nhập Tên Của Sản Phẩm"/>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Thuộc Danh Mục: </label>
                        <select name="category" class="form-control">
                            <option th:each="category : ${listCategory}"
                                    th:value="${category.idCategory}"
                                    th:text="${category.nameCategory}"
                                    th:selected="${detailProduct.category.idCategory == category.idCategory}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Mô Tả: </label>
                        <textarea class="form-control" th:field="*{description}" name="description"></textarea>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Trạng Thái: </label>
                        <select name="status" class="form-control">
                            <option value="1" th:selected="${detailProduct.status == 1}">
                                Đang Hoạt Động
                            </option>
                            <option value="0" th:selected="${detailProduct.status == 0}">
                                Ngừng Hoạt Động
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-floppy-fill"></i>
                        Lưu Lại
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>