<!doctype html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
<footer class="text-center text-lg-start bg-light text-muted" style="background-color: beige">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block col-md-6">
            <span>Liên Hệ Với Tôi Qua:</span>
        </div>
        <div class="col-md-6">
            <a href="" class="col-md-1">
            </a>
            <a href="" class="col-md-1">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="" class="col-md-1">
                <i class="bi bi-youtube"></i>
            </a><a></a>
            <a href="" class="col-md-1">
                <i class="bi bi-google"></i>
            </a><a></a>
            <a href="" class="col-md-1">
                <i class="bi bi-instagram"></i>
            </a><a></a>
            <a href="" class="col-md-1">
                <i class="bi bi-github"></i>
            </a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i> Flipmart
                    </h6>
                    <p>
                        Cửa Hàng Bán Quần Áo Flipmart.
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Liên Hệ</h6>
                    <p><i class="fas fa-home me-3"></i> Hà Nội, Việt Nam</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        minhbdph24887@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> 0388597851</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="#">minhbdph24887</a>
    </div>
</footer>
</body>
</html>