<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>
<div class="container">
    <ul class="nav nav-pills">
        <li><a href="#">Thông Kê</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Quản Lý Thông Tin
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a th:href="@{/admin/user}">Quản Lý User</a></li>
                <li><a th:href="@{/admin/customer}">Quản Lý Khách Hàng</a></li>
                <li><a th:href="@{/admin/role}">Quản Lý Quyền</a></li>
            </ul>
        </li>

        <li><a href="#">Quản Lý Sản Phẩm</a></li>
        <li><a href="#">Quản Lý Vorcher</a></li>
        <li><a href="#">Quản Lý Hóa Đơn</a></li>
    </ul>
</div>
</body>

</html>