<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{/layout/indexadmin :: dynamic(~{:: div})}">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
<div class="row">
    <h3>Thêm Người Quản Trị</h3>
    <form th:action="@{/admin/user/add}" th:object="${user}" method="post">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Họ Và Tên: </label>
                        <input type="text" class="form-control" name="nameUser" placeholder="Nhập Họ Và Tên"/>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Số Điện Thoại: </label>
                        <input type="text" class="form-control" name="numberPhone" placeholder="Nhập Số Điện Thoại"/>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Chức Vụ: </label>
                        <input type="text" class="form-control" value="Quản Trị Viên" readonly/>
                        <input type="hidden" name="role.idRole" value="1"/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Giới Tính: </label>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <label>
                                    <input type="radio" name="sex" value="1" th:text="Nam" checked="">
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label>
                                    <input type="radio" name="sex" value="0" th:text="Nữ">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Trạng Thái: </label>
                        <input type="text" class="form-control" value="Đang Đi Làm" readonly/>
                        <input type="hidden" name="status" value="1"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Ngày Sinh: </label>
                        <input type="date" class="form-control" name="birthday"/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Địa Chỉ: </label>
                        <input type="text" class="form-control" name="address" placeholder="Nhập Địa Chỉ"/>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>UserName: </label>
                        <input type="text" class="form-control" name="username" placeholder="Nhập Tên Người Dùng"/>
                    </div>
                </div>
                <div class="col-sm-5">
                    <label>Password: </label>
                    <div class="col-sm-12">
                        <div class="col-sm-7">
                            <input type="password" class="form-control" name="passwordAdmin" id="pwd"
                                   placeholder="Nhập Mật Khẩu">
                        </div>
                        <div class="col-sm-5">
                            <label for="chk">
                                <input type="checkbox" id="chk"> Show Password
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-floppy-fill"></i>
                        Lưu Lại
                    </button>
                </div>
                <div class="col-sm-1">
                    <button type="reset" class="btn btn-primary">
                        <i class="bi bi-arrow-clockwise"></i>
                        Làm Mới
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>