<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{/layout/indexadmin :: dynamic(~{:: div})}">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
<div class="row">
    <h3>Cập Nhật Thông Tin Người Quản Trị</h3>
    <form th:action="@{/admin/user/update}" th:object="${detailAdmin}" method="post">
        <div class="col-sm-12">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>ID Của Quản Trị Viên: </label>
                    <input type="text" class="form-control" name="idUser" th:field="*{idUser}" readonly/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Họ Và Tên: </label>
                    <input type="text" class="form-control" name="nameUser" th:field="*{nameUser}"
                           placeholder="Nhập Họ Và Tên"/>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Số Điện Thoại: </label>
                    <input type="text" class="form-control" name="numberPhone" th:field="*{numberPhone}"
                           placeholder="Nhập Số Điện Thoại"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Giới Tính: </label>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>
                                <input type="radio" name="sex" value="1"
                                       th:checked="${detailAdmin.sex == true}" th:text="Nam">
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label>
                                <input type="radio" name="sex" value="0"
                                       th:checked="${detailAdmin.sex == false}" th:text="Nữ">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Trạng Thái: </label>
                    <select name="status" class="form-control">
                        <option value="1" th:selected="${detailAdmin.status == 1}">
                            Đang Đi Làm
                        </option>
                        <option value="0" th:selected="${detailAdmin.status == 0}">
                            Đã Nghỉ
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Ngày Sinh: </label>
                    <input type="date" class="form-control" th:field="*{birthday}" name="birthday"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Địa Chỉ: </label>
                    <input type="text" class="form-control" name="address" th:field="*{address}"
                           placeholder="Nhập Địa Chỉ"/>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>UserName: </label>
                    <input type="text" class="form-control" name="username" th:field="*{username}"
                           placeholder="Nhập Tên Người Dùng"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Password: </label>
                    <input type="text" class="form-control" name="passwordAdmin" th:field="*{passwordAdmin}" id="pwd"
                           placeholder="Nhập Mật Khẩu">
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-floppy-fill"></i>
                    Lưu Lại
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>